{% import "macros/refs.html" as refs %}
{% extends "repo/base.html" %}


{% block basic_nav %}
{% call super() %}
{% for diff in links %}
<a href="/{{ uri.display() }}/diff-beta?o={{diff.branch1}}&n={{diff.branch2}}" class="diff_{{diff.branch1}}_{{diff.branch2}}_class">{{diff.branch1}}-{{diff.branch2}}</a>
{% endfor %}
{% endblock %}

{% block log_nav_class %}active{% endblock %}


{% block content %}
<table class="repositories">
    {% call refs::commit_table(commits) %}
</table>

{% if let Some(next_offset) = offset %}
<div class="mt-2 text-center">
    {% if let Some(branch) = branch %}
    <a href="?br={{ branch }}&ofs={{ next_offset }}">[next]</a>
    {% else %}
    <a href="?ofs={{ next_offset }}">[next]</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
